// sass --watch sass:styles 
// folklore: rgb(183, 68, 47)

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

main {
    width: 100vw;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

#am-logo {
    // Gains height at 650px
    object-fit: cover;
    width: 100vw;
    height: 150px;
    // padding: 20px 0 0 0;
}

.hero {
    display: grid;
    width: 100vw;
    position: absolute;
    height: 150px;
    background-color: rgb(214, 174, 109);

    h1, h2 {
        color: whitesmoke;
        // background-color: rgba(150, 150, 150, .8);
        font-size: 48px;
        border-radius: 5px;
        margin: 0;
        padding: 20px;
    }

    .socials {
        position: absolute;
        margin-top: 90px;
        display: grid;
        grid-template-columns: 50px 50px;
        width: 100%;
        justify-items: center;
        justify-content: right;
        padding: 10px;

        i {
            font-size: 42px;
        }
    }
}

.hero-img {
    height: 650px;
    padding-top: 150px;
    display: grid;
    place-items: center;
    
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 50%;
        z-index: -1;
    }
}

.about {
    width: 100%;
    margin: 0 auto;

    p {
        font-size: 18px;
        line-height: 1.3em;
        text-align: center;
        margin: 0 35px;
    }
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 25px;
    width: 100%;
    margin-top: 40px;
    // grid-auto-rows: 1fr 1fr 1fr;

    iframe {
        width: 90vw;
        max-width: 100%;
        height: 100%;
    }
}

.footer {
    padding: 10px 5vw 10px 5vw;
    margin-top: 30px;
    background-color: rgb(214, 174, 109);

    i {
        font-size: 48px;
        color: whitesmoke;
    }
}

a {
    text-decoration: none;
    color: black;
    // padding: 0 10px;
}

// Break point to align videos vertically instead of horizontally
@media only screen and (max-width: 900px) {
    .videos {
        grid-template-columns: none;
        grid-template-rows:  45vw 45vw 45vw;
    }
  }

// Single resize for main photo on mobile
@media only screen and (max-width: 500px) {
    .hero-img {
        height: 550px;

        img {
            width: 300px;
            height: 300px;
        }
    }
  }